*{
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 50px;
}

a, li {
  text-decoration: none;
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  display: block;
  margin: 1em;
}

/* Hamburger Menu styling */
.hamburger-menu {
  display: none;
}


div.hamburger-menu .hamburger-icon {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 3px;
  margin-top: 3px;
  background-color: black;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.hamburger-menu.active .top-line {
  transform: rotate(45deg) translateY(4px);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.hamburger-menu.active .middle-line {
  display: none;
}

.hamburger-menu.active .bottom-line {
  transform: rotate(-45deg) translateY(-4px);
  transition: .3s ease-in-out;
  cursor: pointer;
}


/* Room Card styling */
.rooms-page {
  margin-top: 4em;
}

.rooms-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 3.5em;
}

.sub-rooms-card {
  margin-left: 20px;
  margin-right: 20px;
}

.sub-rooms-card a {
  color: black;
}

.sub-rooms-card a:hover {
  font-weight: bold;
}

.sub-rooms-card h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

td {
  padding-left: 20px;
  padding-right: 20px;
}

.new-room {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.new-room button {
  border-radius: 10px;
}

.new-room button:hover {
  font-weight: bold;
  cursor: pointer;
}

.new-room input {
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  width: 200px;
}

.new-room input:hover {
  transition: 0.5s ease-in-out;
  width: 300px;
}

.room-details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.room-details-container button {
  margin-top: 10px;
}

.form-edit-room-container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.form-edit-room-container form input {
  text-align: center;
  margin: 10px;
}

.edit-room-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.edit-feed-form {
  display: none;
}

.edit-feed-form.active {
  display: initial;
}

/* HomePage */
#home-page {
  margin-top: 5em;
}

#home-page h2 {
  text-align: center;
}

/* Myhome Page styling */
.myhome-page-nav {
  margin-top: 3.2em;
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.myhome-page-nav #myhome-page-nav-a {
  position: absolute;
  top: 40%;
  width: 100%;
}

.myhome-page-nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.myhome-page-nav a:hover {
  background-color: lightblue;
}


/* Activity styling */
.add-activity-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-activity-form input {
  height: 20px;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

.add-activity-form button {
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.add-activity-form button:hover {
  font-weight: bold;
}

.add-new-activity-text {
  display: none;
}

.add-new-activity-div:hover .add-new-activity-text {
  display: block;
  color: gray;
}

.cancel-add-activity-button {
  height: 20px;
  cursor: pointer;
}

.cancel-add-activity-button:hover {
  font-weight: bold;
}

.add-activity-from-room-page-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.add-activity-from-room-page-details button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}


/* Login singup styling */
.login-signup-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-signup-div form input {
  margin: 10px;
}

.login-signup-div form button {
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 20px;
}

.login-signup-div form button:hover {
  font-weight: bold;
}

.login-signup-div a:hover {
  font-weight: bold;
  color: rgb(54, 54, 185);
}


/* Profile styling */
#profile {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
}

#profile div {
  margin-left: 2em;
}

#profile div p {
  margin: 0;
}

#profile img {
  width: 500px;
  border-radius: 50%;
}

table {
  margin-left: 4em;
}

table tbody tr td {
  margin: 0;
  padding: 0;
  width: 150px;
}

#update-activity-form {
  margin-top: 5em;
}

.form-add-partner {
  display: none;
}

.form-add-partner.active {
  display: block;
}

/* Spinner loading styling */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 800px) {

  /* Header styling */
  header .navbar {
    position: absolute;
    top: 100%; left: 0; right: 0;
    z-index: 1000;
    background-color: rgb(250, 248, 248);
    display: none;
  }
  
  .hamburger-menu {
    display: block;
  }
  
  header .navbar ul {
    display: flex;
    justify-content: center;
    height: 65px;
    align-items: center;
  }
  
  header .navbar.active {
    display: block;
  }
  
  /* My Home Page styling */
  .myhome-page-nav {
    margin-top: 4.5em;
    position: static;
    padding-top: 0;
  }

  
  .myhome-page-nav #myhome-page-nav-a {
    position: fixed;
    top: 7%;
    width: 100%;
    z-index: 500;
    background-color: white;
    text-align: center;
    color: black;
    font-weight: bold;
  }

   /* login-singup page styling */
  .login-signup-div form {
    display: flex;
    flex-direction: column;
  }

  .login-signup-div form input {
    margin: 10px auto;
  }

  div.feed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 500px;
  }

}