nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(138, 90, 163);
  height: 40px;
  font-weight: bold;
}

nav a {
  color: white;
  font-size: x-large;
  opacity: 0.8;
}

nav a:hover {
opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}

.home-page h1 {
  text-align: center;
}

.rooms-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.sub-rooms-card {
  margin-left: 20px;
  margin-right: 20px;
}

.sub-rooms-card a {
  color: black;
}

.sub-rooms-card a:hover {
  font-weight: bold;
}

.sub-rooms-card h1 {
  text-align: center;
  margin: 1em 0 0 0;
}

td {
  padding-left: 20px;
  padding-right: 20px;
}

.new-room {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.new-room button {
  border-radius: 10px;
}

.new-room button:hover {
  font-weight: bold;
  cursor: pointer;
}

.new-room input {
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  width: 200px;
}

.new-room input:hover {
  transition: 0.5s ease-in-out;
  width: 300px;
}

.add-activity-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-activity-form input {
  height: 20px;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

.add-activity-form button {
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.add-activity-form button:hover {
  font-weight: bold;
}

.login-signup-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login-signup-div form input {
  margin: 10px;
}

.login-signup-div form button {
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-signup-div form button:hover {
  font-weight: bold;
}

.login-signup-div a:hover {
  font-weight: bold;
  color: rgb(54, 54, 185);
}

.add-new-activity-text {
  display: none;
}

.add-new-activity-div:hover .add-new-activity-text {
  display: block;
  color: gray;
}

.room-details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.room-details-container button {
  margin-top: 10px;
}

.form-edit-room-container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.form-edit-room-container form input {
  text-align: center;
  margin: 10px;
}

.edit-room-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cancel-add-activity-button {
  height: 20px;
  cursor: pointer;
}

.cancel-add-activity-button:hover {
  font-weight: bold;
}

.add-activity-from-room-page-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.add-activity-from-room-page-details button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* table thead {
  filter: blur(5px);
} */